html{
    margin:0;
    padding: 0;
}

body{
    margin:0;
    padding: 0;
    height: 100vh;
    background-image: url(./01/images/petit.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

body .wrapper{
    height: 100%;
}

header{
    height: 5%;
}

section{
    height: 87%;
}

section .input{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-info{
    display:flex;
    align-items: center;
    justify-content: center;
}

.input-info #input-id-passwd{
    display: flex;
    flex-flow: column;
}

#login-button{
    height: 40px;
}

footer{
    height: 3%;
    display: flex;
    justify-content: center;
    flex-flow: column;
}

header .title h1{
    margin: 0;
    text-align: center;
}

footer p,div{
    margin: 0;
    text-align: center;
}