<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="./login.css">
<title>목목술</title>     
</head>
<body>
<div class = "wrapper">
    <header>
        <div class = title>
            <h1>목<sub>요일 </sub>목<sub>요일엔 </sub>술<sub>을</sub></h1>
        </div>
    </header>
    <section>
        <div class="input">
            <div class="input-area">
                <img src="../Resource/profile-user.png" id="profile" alt="">
                <div class="input-info">
                    <div id = "input-id-passwd">
                        <input type="text" name="UserName" id="ID" placeholder="Username">
                        <input type="password" name="Password" id="password" placeholder="****">
                    </div>
                    <div id="input-login-confirm">
                        <input type="button" id="login-button" value="Login" onclick="location.href='waiting.html'">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
        </div>
        <p>
            Client : 서씨<a href = ""> (mansa0805@naver.com)</a>
        </p>
    </footer>
</div>
<script src = "../JqueryModule/jquery.js"></script>
<script src = "../node_modules/socket.io-client/dist/socket.io.js"></script>
<script src = "../public/SocketModule.js"></script>

</body>
</html>